<tr>
    <th class="text-center">{{submission.id}}</th>
    <th class="text-center">{{submission.course_name}}</th>
    <td class="text-center">{{submission.name}}</td>
    <td class="text-center">{{submission.email}}</td>
	<td class="text-center">{{submission.phone}}</td>
	<td class="text-center">{{submission.linkedin}}</td>
	<td class="text-center">{{submission.github}}</td>
	<td class="text-center">{{submission.score}}</td>
	<td class="text-center">{{submission.Approved}}</td>
	<td class="text-center">{{submission.date}}</td>
 </tr>